# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.py~
*.pyz

# Jupyter Notebooks
.ipynb_checkpoints/

# LaTeX temporary/aux files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.synctex.gz(busy)
*.dvi

# Archives
*.zip

# Compiled binaries
*.com
*.class
*.dll
*.exe
*.o
*.so

# Images
*.png

# Documents / Data (ALL folders)
*.csv
*.pdf
*.tex

# Temporary files
*~

# System files
.DS_Store
Thumbs.db