# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc
*.pyo
*.pyz
*.pyw
*.py~
*.pyc
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.pdf

# Compiled LaTeX
*.dvi
*.synctex.gz
*.synctex.gz(busy)

# Temporary files
*~

# Compiled binaries
*.com
*.class
*.dll
*.exe
*.o
*.so

# Miscellaneous
.DS_Store
Thumbs.db
